/* Raw color palette */
:root {
  /* Base */
  --white: #ffffff;

  /* Green palette */
  --green-950: #041000; /* --green-950 */
  --green-900: #082100; /* --green-900 */
  --green-800: #0e3900; /* --green-800 */
  --green-700: #41682c; /* --green-700 */
  --green-600: #3f6834; /* --green-600 */
  --green-500: #426c37; /* --green-500 */
  --green-400: #508243; /* --green-400 */
  --green-300: #7ebb32; /* --green-300 */
  --green-200: #00ff00; /* --green-200 */
  --green-100: #51d300; /* --green-100 */
  --green-50: #caeaa2; /* --green-50 */
  --green-10: #fcfffa; /* --green-10 */

  /* Red palette */
  --red-900: #9c0007;
  --red-800: #b10008;
  --red-700: #d8000a;
  --red-600: #ed2a33;

  /* Sonner palette colors */

  /* Success - green */
  --sonner-green-border: #a7f3d0;
  --sonner-green-background: #ecfdf5;
  --sonner-green-title: #065f46;
  --sonner-green-text: #047857;
  --sonner-green-icon: #10b981;
  --sonner-green-button-text: #065f46;

  /* Info - blue */
  --sonner-blue-border: #b1cdfb;
  --sonner-blue-background: #f3f7ff;
  --sonner-blue-title: #183462;
  --sonner-blue-text: #234e94;
  --sonner-blue-icon: #3b82f6;
  --sonner-blue-button-text: #183462;

  /* Warning - yellow */
  --sonner-yellow-border: #fde68a;
  --sonner-yellow-background: #fffbeb;
  --sonner-yellow-title: #92400e;
  --sonner-yellow-text: #b45309;
  --sonner-yellow-icon: #f59e0b;
  --sonner-yellow-button-text: #92400e;

  /* Error - red */
  --sonner-red-border: #fecaca;
  --sonner-red-background: #fef2f2;
  --sonner-red-title: #991b1b;
  --sonner-red-text: #b91c1c;
  --sonner-red-icon: #ef4444;
  --sonner-red-button-text: #991b1b;

  /* Default - white */
  --sonner-white-border: #ebeef0;
  --sonner-white-background: #ffffff;
  --sonner-white-title: #1d2328;
  --sonner-white-text: #5f7282;
  --sonner-white-icon: #718799;
  --sonner-white-button-text: #1d2328;
}
