/* Tailwind theme integration */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Shadcn colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom font */
  --font-montserrat: "Montserrat", sans-serif;

  /* Custom semantic colors */

  /* Body */
  --color-app-background: var(--app-background);

  /* Link */
  --color-link-color: var(--link-color);

  /* Title */
  --color-title-color: var(--title-color);

  /* Subtitle */
  --color-subtitle-color: var(--subtitle-color);

  /* Input */
  --color-input-text: var(--input-text);
  --color-input-text-placeholder: var(--input-text-placeholder);
  --color-input-background: var(--input-background);
  --color-input-border: var(--input-border);
  --color-input-border-focus: var(--input-border-focus);
  --color-input-error-border: var(--input-error-border);
  --color-input-error-ring: var(--input-error-ring);

  /* Input OTP */
  --color-input-otp-background: var(--input-otp-background);
  --color-input-otp-text: var(--input-otp-text);
  --color-input-otp-border: var(--input-otp-border);
  --color-input-otp-border-focus: var(--input-otp-border-focus);
  --color-input-otp-ring: var(--input-otp-ring);
  --color-input-otp-caret: var(--input-otp-caret);
  --color-input-otp-separator: var(--input-otp-separator);

  /* FieldLabel */
  --color-field-label-text: var(--field-label-text);
  --color-field-label-text-error: var(--field-label-text-error);
  --color-field-error-text: var(--field-error-text);

  /* Button */
  --color-button-background: var(--button-background);
  --color-button-background-hover: var(--button-background-hover);
  --color-button-text: var(--button-text);
  --color-button-eye-icon-background-hover: var(
    --button-eye-icon-background-hover
  );

  /* Button Link */
  --color-button-link-text: var(--button-link-text);
  --color-button-link-text-hover: var(--button-link-text-hover);

  /* Select */
  --color-select-background: var(--select-background);
  --color-select-text: var(--select-text);
  --color-select-border: var(--select-border);
  --color-select-border-focus: var(--select-border-focus);
  --color-select-ring: var(--select-ring);
  --color-select-placeholder: var(--select-placeholder);
  --color-select-icon: var(--select-icon);

  /* Select Content (Dropdown) */
  --color-select-content-background: var(--select-content-background);
  --color-select-content-border: var(--select-content-border);

  /* Select Item */
  --color-select-item-text: var(--select-item-text);
  --color-select-item-background-hover: var(--select-item-background-hover);
  --color-select-item-background-focus: var(--select-item-background-focus);

  /* Frame */
  --color-frame-background: var(--frame-background);
  --color-frame-border: var(--frame-border);

  /* Eye icon */
  --color-eye-icon-text: var(--eye-icon-text);

  /* Switch */
  --color-switch-background: var(--switch-background);
  --color-switch-border: var(--switch-border);
  --color-switch-ring: var(--switch-ring);
  --color-switch-thumb: var(--switch-thumb);
  --color-switch-icon: var(--switch-icon);
  --color-switch-title: var(--switch-title);
  --color-switch-label: var(--switch-label);

  /* Sonner */

  /* Sonner Success */
  --color-sonner-success-border: var(--sonner-success-border);
  --color-sonner-success-background: var(--sonner-success-background);
  --color-sonner-success-title: var(--sonner-success-title);
  --color-sonner-success-text: var(--sonner-success-text);
  --color-sonner-success-icon: var(--sonner-success-icon);
  --color-sonner-success-button-text: var(--sonner-success-button-text);

  /* Sonner Info */
  --color-sonner-info-border: var(--sonner-info-border);
  --color-sonner-info-background: var(--sonner-info-background);
  --color-sonner-info-title: var(--sonner-info-title);
  --color-sonner-info-text: var(--sonner-info-text);
  --color-sonner-info-icon: var(--sonner-info-icon);
  --color-sonner-info-button-text: var(--sonner-info-button-text);

  /* Sonner Warning */
  --color-sonner-warning-border: var(--sonner-warning-border);
  --color-sonner-warning-background: var(--sonner-warning-background);
  --color-sonner-warning-title: var(--sonner-warning-title);
  --color-sonner-warning-text: var(--sonner-warning-text);
  --color-sonner-warning-icon: var(--sonner-warning-icon);
  --color-sonner-warning-button-text: var(--sonner-warning-button-text);

  /* Sonner Error */
  --color-sonner-error-border: var(--sonner-error-border);
  --color-sonner-error-background: var(--sonner-error-background);
  --color-sonner-error-title: var(--sonner-error-title);
  --color-sonner-error-text: var(--sonner-error-text);
  --color-sonner-error-icon: var(--sonner-error-icon);
  --color-sonner-error-button-text: var(--sonner-error-button-text);

  /* Sonner Default */
  --color-sonner-default-border: var(--sonner-default-border);
  --color-sonner-default-background: var(--sonner-default-background);
  --color-sonner-default-title: var(--sonner-default-title);
  --color-sonner-default-text: var(--sonner-default-text);
  --color-sonner-default-icon: var(--sonner-default-icon);
  --color-sonner-default-button-text: var(--sonner-default-button-text);
}

/* Shadcn base values */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
