:root {
  /* FieldLabel */
  --field-label-text-light: var(--green-900);
  --field-label-text-dark: var(--white);
  --field-label-text: var(--field-label-text-light);

  --field-label-text-error-light: var(--red-600);
  --field-label-text-error-dark: var(--red-600);
  --field-label-text-error: var(--field-label-text-error-light);

  /* FieldError */
  --field-error-text-light: var(--red-600);
  --field-error-text-dark: var(--red-600);
  --field-error-text: var(--field-error-text-light);
}

.dark {
  /* FieldLabel */
  --field-label-text: var(--field-label-text-dark);
  --field-label-text-error: var(--field-label-text-error-dark);

  /* FieldError */
  --field-error-text: var(--field-error-text-dark);
}
